<%- include('./includes/head.ejs') %>

<%- include('./includes/header.ejs') %>

<div class="content-page">
    <div class="container">
        <% if(user === null){ %>
        <div class="row">
            <div class="col-lg-12 mb-3">
                <div class="d-flex align-items-center justify-content-between welcome-content">
                    <div class="navbar-breadcrumb">
                        <h4 class="mb-1">Welcome To Dashboard</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="card card-block card-stretch card-height">
                        <div class="card-body">
                            <div class="top-block-one d-flex align-items-center justify-content-between">
                                <div class="bg-danger icon iq-icon-box-2 mr-2 rounded">
                                    <i class="las la-funnel-dollar"></i>
                                </div>
                                <span class="text-primary"><i class="ri-arrow-up-fill mr-1"></i>
                                    +12.12%</span>
                            </div>
                            <div class="mt-4">
                                <h3>76.64k</h3>
                                <span class="mb-0">Google ads Conversions</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card card-block card-stretch card-height bg-primary">
                        <div class="card-body">
                            <div class="top-block-one d-flex align-items-center justify-content-between">
                                <div class="bg-white icon iq-icon-box-2 mr-2 rounded">
                                    <i class="las la-money-check-alt text-primary"></i>
                                </div>
                                <span class="text-white"><i class="ri-arrow-down-line mr-1"></i> -42.72%
                                </span>
                            </div>

                            <div class="mt-4">
                                <h3 class="text-white">$7,323.34</h3>
                                <span class="mb-0  text-white">Google Ads Cost</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card card-block card-stretch card-height">
                        <div class="card-body">
                            <div class="top-block-one d-flex align-items-center justify-content-between">
                                <div class="bg-success icon iq-icon-box-2 mr-2 rounded">
                                    <i class="lar la-hand-pointer"></i>
                                </div>
                                <span class="text-primary"> <i class="ri-arrow-up-fill mr-1"></i>
                                    +42.72%</span>
                            </div>

                            <div class="mt-4">
                                <h3>4,043</h3>
                                <span class="mb-0">Google Ads Clicks</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card card-block card-stretch card-height">
                        <div class="card-body">
                            <div class="top-block-one d-flex align-items-center justify-content-between">
                                <div class="bg-info icon iq-icon-box-2 mr-2 rounded">
                                    <i class="las la-file-invoice-dollar"></i>
                                </div>
                                <span class="text-danger"><i class="ri-arrow-down-line mr-1"></i> -42.72%
                                </span>
                            </div>

                            <div class="mt-4">
                                <h3>76.56.23%</h3>
                                <span class="mb-0">Google Ads Conversions Rate</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card card-block card-stretch card-height">
                        <div class="card-body">
                            <div class="top-block-one d-flex align-items-center justify-content-between">
                                <div class="bg-orange icon iq-icon-box-2 mr-2 rounded">
                                    <i class="las la-signal"></i>
                                </div>
                                <span class="text-primary"><i class="ri-arrow-up-fill mr-1"></i>
                                    +42.72%</span>
                            </div>

                            <div class="mt-4">
                                <h3>76.64k</h3>
                                <span class="mb-0">Google ads cost Conversions</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card card-block card-stretch card-height">
                        <div class="card-body">
                            <div class="top-block-one d-flex align-items-center justify-content-between">
                                <div class="bg-skyblue icon iq-icon-box-2 mr-2 rounded">
                                    <i class="las la-mouse-pointer"></i>
                                </div>
                                <span class="text-danger"><i class="ri-arrow-down-line mr-1"></i> -42.72%
                                </span>
                            </div>

                            <div class="mt-4">
                                <h3>53.6k</h3>
                                <span class="mb-0">Google ads Impressions Rate</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>

</div>
</div>

<%- include('./includes/foot.ejs') %>